<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding ion-text-center">
    
    <ion-card class="ion-margin-top">
      <ion-card-header>
        Acceso al Sistema
      </ion-card-header>
      <ion-card-content>

<ion-item>
    <ion-input 
        label="Usuario" 
        labelPlacement="floating" 
        type="text" 
        name="user"  
        [(ngModel)]="username">
    </ion-input> 
</ion-item>

<ion-item>
    <ion-input 
        label="Contraseña" 
        labelPlacement="floating" 
        type="password" 
        name="password"  
        [(ngModel)]="password">
    </ion-input>
</ion-item>

        <ion-button expand="full" class="ion-margin-top" (click)="Login()">
          Entrar
        </ion-button>
        
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>